node_modules/
.vscode/
.turbo

/apps/web/node_modules/
/apps/web/.turbo/
/apps/web/.next/

/apps/http-backend/node_modules/
/apps/http-backend/.turbo/
/apps/http-backend/dist/

/packages/common/node_modules/
/packages/db/node_modules/
/packages/ui/node_modules/




