@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-custom {
    @apply border-neutral-300 dark:border-neutral-700;
  }
  .text-custom {
    @apply text-violet-600 dark:text-violet-400;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.01rem;
}
.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  /* background-color: #787878; */
}
.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #ccc9c9;
}
.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.45rem;
}


